@media screen and (max-width: 900px) {
img#article_image{
    max-width: 80%;
    height: auto;
}
}

@media screen and (min-width: 900px) {
img#article_image{
    max-width: 800px;
    max-height: 500px;
}
}


@media screen and (max-width: 900px) {
    p#article_text{
        max-width: 80%;
        text-align: justify;


    }
}


@media screen and (min-width: 900px) {
p#article_text {
    max-width: 800px;
    text-align: justify;
    margin-left: 29%;
}
}

